/***********************************
> 应用名称：看天
> 解锁说明：解锁Pro权限
> 更新时间：2025-09-17
> 特别提醒：如需转载请注明出处，谢谢合作！
> 特别说明：本脚本仅供学习交流使用，禁止转载售卖


[rewrite_local]
  
^http[s]?:\/\/kantianapi\.geovisearth\.com\/v2\/user\/(ssoLogin$|((mine|guest\/info)\/query\?))$ url script-response-body https://raw.githubusercontent.com/uenglish/Script/main/Js/Kantian.js


[mitm] 

hostname=kantianapi.geovisearth.com

***********************************/
