/***********************************
> 应用名称：MoneyThings
> 解锁说明：解锁Pro权限
> 更新时间：2023-09-14
> 特别提醒：如需转载请注明出处，谢谢合作！
> 特别说明：本脚本仅供学习交流使用，禁止转载售卖


[rewrite_local]
  
https?:\/\/api\.revenuecat\.com/v\d/(subscribers/(\$RCAnonymousID\%)?(\w)+|receipts)$ url script-response-body https://raw.githubusercontent.com/uenglish/Script/main/Js/MoneyThings.js


[mitm] 

hostname=api.revenuecat.com

***********************************/
