/***********************************
> 应用名称：鲨鱼记账
> 解锁说明：解锁VIP权限
> 更新时间：2023-09-15
> 特别提醒：如需转载请注明出处，谢谢合作！
> 特别说明：本脚本仅供学习交流使用，禁止转载售卖


[rewrite_local]
  
^http[s]?:\/\/.*\.shayujizhang\.com\/account\/.*$ url script-response-body https://raw.githubusercontent.com/uenglish/Script/main/Js/syjz.js


[mitm] 

hostname=*.shayujizhang.com

***********************************/
